@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 400px; 
	width: 600px;
}

body {
	width: 100%;
}


header {
	display: block;
	height: 85px;
	width: 100%;
	font-size: 2em;
	text-align: center;
	font-family: 'futura', sans-serif;
	font-weight: 300;
	text-transform: lowercase;
	padding-left: 30px;
	background: url("../html/header.svg");
	background-size: cover;
}

/*header h1{
	z-index: 1;
	margin-top: 7px;
	font-size: 1.8em !important;
	color: black;
}
*/

main {
	width: 100%;
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto; 
	width: 95%;
	margin: 0 auto;
}


#table {
	
}

h1{
	float:left;
	margin-left: auto;
}
#logoTop{
	position: absolute;
	width: 160px;
	height: auto;
	right: 20px;
	top: -30px;
}

table {
	margin-top: 20px;
	width: 400px;
	border-collapse: collapse;
}

thead{
	font-family: 'Oswald';
	font-weight: medium;
	text-transform: uppercase;
	font-size: 1.3em;

}


tbody, #sendMessage{
	font-family: 'Raleway';
	text-transform: lowercase;
	color: rgb(50, 50, 50);

}

button{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

#push, #export-btn {
	padding: 8px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	text-transform: lowercase;
	background: white;
	border: 3px solid black;
	color: black;
	border-radius: 5px;
}

#push {
	position: relative;	
}

#export-btn{
	position: absolute;
	top: 18px;
	right: 28px;
	background: white;
}




/*Table CSS*/
.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #B00000 ;
  cursor: pointer;
  font-family: "Oswald" sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}
.table-remove:hover {
  color: #FF0000;
}

/*.table-up, .table-down {
  color: #007;
  cursor: pointer;
}
.table-up:hover, .table-down:hover {
  color: #00f;
}
*/


.table-add {
	z-index: 1;
	color: green;
	position: relative;
	margin-top: -35px;
	left: 50%;
	font-size: 3em;
	font-weight: 700;
}
.table-add:hover {
  color: lime;
}



html {
	font-family: 'Oswald', sans-serif;
}
