@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 400px; 
	width: 600px;
}


header {
/*	margin: 0 auto;*/
	width: 100%;
	font-size: 2em;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	padding-left: 30px;

}


main {
	width: 100%;
	height: 400px;
	overflow: auto;
}


h1{
	float:left;
	margin-left: auto;
}
#logoTop{
	float: left;
	display: inline-block;
	width: 50px;
	height: auto;
	padding-top: 10px;
	margin-right: auto;
}



thead{
	font-family: 'Oswald';
	text-transform: uppercase;
	font-size: 1.3em;
}

tbody, #sendMessage{
	font-family: 'Raleway';
	text-transform: lowercase;
	color: rgb(50, 50, 50);
}

button{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}


#push {
	width: 100%;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
	/*background: orange;*/
	/*color: white;*/
}




/*Table CSS*/

.table-editable {
  position: relative;
}
.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
  font-family: "Oswald" sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}
.table-remove:hover {
  color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}
.table-up:hover, .table-down:hover {
  color: #00f;
}

.table-add {
  color: #070;
  position: absolute;
  left: 50%;
  font-size: 3em;
  font-weight: 700;
}
.table-add:hover {
  color: #0b0;
}

#export-btn{
	font-family: 'Oswald', sans-serif;
}

html {
	font-family: 'Oswald', sans-serif;
}
